@page "/login"
@inject NavigationManager NavigationManager

<h1>Залогинься брат!</h1>


<div class="card">
    <div class="card-body">
        <h3 class="card-title">Введите свои данные!</h3>
        <form>
            <div class="mb-3">
                <label for="Login" class="form-label">Логин для регистрации в приложении</label>
                <input type="text" @bind="Loogin" class="form-control" id="Login" placeholder="Ваш логин должен состоять из 1-10 символов!" aria-describedby="loginHelp">
            </div>
            <div class="mb-3">
                <label for="NameHuman" class="form-label">Имя</label>
                <input type="text" id="NameHuman" @bind="Name" class="form-control" placeholder="Ваш имя должно состоять из 1-10 символов, содержать только буквы" aria-describedby="nameHelp">
            </div>
            <div class="mb-3">
                <label for="SurnameHuman" class="form-label">Фамилия</label>
                <input type="text" id="SurnameHuman" @bind="Surname" class="form-control" placeholder="Ваша фамилия должна состоять из 1-10 символов, содержать только буквы" aria-describedby="surnameHelp">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Ваша почта</label>
                <input type="email" id="Email" @bind="Email" class="form-control" placeholder="Ваша почта должна состоять из 8-20 символов, содержать буквы и цифры и не должен содержать пробелов, или эмодзи." aria-describedby="EmailHelp">
            </div>
            <button type="submit" @onclick=BtnAdd class="btn btn-success">Зарегистрироваться</button>
        </form>
    </div>
</div>

@code {
    string Name { get; set; }
    string Surname { get; set; }
    string Loogin { get; set; }
    string Email { get; set; }

    public void BtnAdd()
    {
        LoginModel loginMODEL = new LoginModel(Name, Surname, Email, Loogin);
        loginMODEL.Add(loginMODEL);
    }
}
