@page "/Redactionteammate"
<h3>Редактирование команды!</h3>
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action">Первый игрок</button>
  <button type="button" class="list-group-item list-group-item-action">Второй игрок</button>
  <button type="button" class="list-group-item list-group-item-action">Третий игрок</button>
  <button type="button" class="list-group-item list-group-item-action">Четвертый игрок</button>
  <button type="button" class="list-group-item list-group-item-action">Пятый игрок</button>
</div>
<div class="p-2">
	<button type="button" class="btn btn-success">Добавить нового игрока</button>
	<button type="button" class="btn btn-danger">Удалить игрока</button>
	<button type="button" class="btn btn-warning">Рандомное заполнение</button>
</div>
@code {

}
